<div class="grid wrapper">
    <div class="header" >
        <p-tabMenu [model]="items" ></p-tabMenu>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
    <div class="footer">
        <span *ngIf=timecontrolAPIService.connected ><i class="pi pi-check"></i> Подключено: timecontrol3</span>
    </div>
</div>
