<ng-container *ngIf="!race">
    <p-menu [model]="racesMenu" [style]="{width: '100%'}"></p-menu>
</ng-container>

<ng-container *ngIf="race">
    <p-toolbar>
        <div class="p-toolbar-group-start">
            <p-button 
                (click)="setReady()"  
                [label]="stateLabels[state]"  
                class="mr-2" 
                [styleClass]="stateStyles[state]" 
                [disabled]="state === TimingState.Unknown"
            ></p-button>
            <span class="racer-title" [ngClass]="{disabled: state !== TimingState.Ready}">
                <span *ngIf="racer" (click)="showSelectRacerDialog()">#{{racer.num}} : </span>
                <span *ngIf="racer" (click)="showSelectRacerDialog()">{{racer.userFullName}}</span>
                <span 
                    *ngIf="!racer" 
                    (click)="showSelectRacerDialog()" 
                ><i class="pi pi-exclamation-circle" style="color:orange" *ngIf="!racer && state === TimingState.Ready"></i> Select racer!</span>            
            </span>
        </div>
        <div class="p-toolbar-group-end" >
            <div *ngIf="timer.laps" class="mr-2" >
                Кругов: {{timer.lapsCount}} | <span *ngIf="timerMonitor$ | async as tm">{{tm?.raceTime | asTimerString}} | {{tm?.lapTime  | asTimerString}}</span>
            </div>
            <p-button 
                (click)="connect()"
                [disabled]="connected || connecting"
                [icon]="connecting ? 'pi pi-spin pi-spinner' : 'pi pi-power-off'"
                class="mr-2"[styleClass]="connected ? 'p-button-success' : 'p-button-secondary'"
            ></p-button>
        </div>
    </p-toolbar>
    <div class="lap-steps" *ngIf="timer.laps">
        <div class="start-step" [ngClass]="{started: state === TimingState.Race && timer.lap===0, ready: racer && state === TimingState.Ready}">S</div>
        <p-steps [model]="lapsToSteps()" [activeIndex]="timer.lap-1" [readonly]="true"></p-steps>
    </div>
    <p-table 
        #eventsTable
        [value]="raceEvents" 
        [sortField]="'id'" [sortOrder]="-1"
        [scrollable]="true" scrollHeight="60vh" [virtualScroll]="true" [virtualScrollItemSize]="46"
        styleClass="p-datatable-sm mt-2" >
        <ng-template pTemplate="header" >
            <tr>
                <th colspan="99" >
                    <div class="flex-row">
                        <p-button
                            icon="pi pi-filter-slash"
                            (click)="eventsTable.clear()"
                            styleClass="p-button-outlined p-button-secondary "
                        ></p-button>
                        <p-columnFilter type="text" field="racerNum" placeholder="Num"  [matchMode]="'equals'" ></p-columnFilter>
                        <p-columnFilter type="text" field="racerFullName" placeholder="Name" [matchMode]="'contains'" class="flex-grow-2"></p-columnFilter>
                        <p-columnFilter field="raceEventType" matchMode="in" [showMenu]="false" class="flex-grow-1">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-multiSelect [ngModel]="value" [options]="eventTypesList" placeholder="Event Type" (onChange)="filter($event.value)" ></p-multiSelect>                            
                            </ng-template>
                        </p-columnFilter>
                        <p-checkbox [(ngModel)]="audioService.mute" [binary]="true" class="mr-4 pointer" label="Mute"  ></p-checkbox> 
                        <p-checkbox [(ngModel)]="autoStandBy" [binary]="true" class="mr-4 pointer" label="Auto StandBy "  ></p-checkbox> 
                        <div class="mr-4" ><a [href]="resultsToFile" download="timecontrol_results.txt">Скачать</a></div>                       
                        <p-button 
                            label="Results"
                            (click)="showResults()" 
                            [styleClass]="'p-button-secondary'"
                            >
                        </p-button>
                    </div>
                </th>
            </tr>
        </ng-template>        
        <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
            <tr [ngStyle]="{background: item.raceEventType===3 ? 'rgba(255,255,255,.1)': ''}">
                <td width="50px">{{item.racerNum}}</td>
                <td width="280px">{{item.racerFullName || '-'}}</td>
                <td>{{item.raceEventTypeName}}</td>
                <td>{{item.dtString}}</td>
                <td class="text-right">{{item.dateString}}</td>
                <td width="30px" (click)="openDeleteRaceEventDialog(item)" style=" cursor: pointer; padding: 0px 10px"><i class="pi pi-times" style="color: orangered; font-size: .8rem"></i></td>
            </tr>            
        </ng-template> 
    </p-table>
</ng-container>

<p-sidebar [visible]="racerSelectVisible" position="right" [modal]="false" (onHide)="racerSelectVisible=false" styleClass="p-sidebar-md">
    <ng-template pTemplate="header">Select Racer</ng-template>
    <ng-template pTemplate="content">
        <app-racer-select
            [race]="race"
            (onRegisterRacerClick)="registerRacerVisible = true"
            (onRacerSelect)="selectRacer($event)"
            (onClose)="this.racerSelectVisible = false"        
        ></app-racer-select>
    </ng-template>
</p-sidebar>

<p-sidebar [visible]="registerRacerVisible" position="right" [modal]="false" (onHide)="registerRacerVisible=false" styleClass="p-sidebar-md">
    <ng-template pTemplate="header">Регистрация нового участника</ng-template>
    <ng-template pTemplate="content">
        <app-racer-registration
            [race]="race"
            (onClose)="registerRacerVisible = false"
        ></app-racer-registration>
    </ng-template>
</p-sidebar>

<p-sidebar [visible]="resultsVisible" position="right" [modal]="false" (onHide)="resultsVisible=false" [fullScreen]="resultsFullScreen" styleClass="p-sidebar-lg">
    <ng-template pTemplate="header">Результаты</ng-template>
    <ng-template pTemplate="content">
        <app-race-results
            [race]="race"
            (modeChange)="setResultsMode($event)"
        ></app-race-results>
    </ng-template>
</p-sidebar>

<p-confirmDialog [style]="{width: '400px'}" #cd rejectButtonStyleClass="p-button-outlined" acceptButtonStyleClass="p-button-danger"></p-confirmDialog>
