.racer-title {
    font-size: 24px;
    margin-left: 4px;
    cursor: pointer;
}

.racer-title:hover {
    color:white;
}

.disabled{
    opacity: .5;
}

.lap-steps {
    margin: 30px 0; 
    padding-left: 32px; 
    position: relative;
}

.start-step{
    border: 1px solid #8dc6ff69;
    width: 32px;
    height: 32px;
    border-radius: 25%;
    position: absolute;
    margin-left: -32px;
    text-align: center;
    padding-top: 4px;    
}

.start-step.ready{
    background-color: #95ff2085;
}

.start-step.started{
    background-color: #ff87209e;
}