<p-tabView (onChange)="tabChange($event)">
    <p-tabPanel header="Финиш">
        <ng-container *ngIf="results.bestFinish">
            <p-table 
                #table
                [value]="results.bestFinish" 
                [scrollable]="true" scrollHeight="70vh" [virtualScroll]="true" [virtualScrollItemSize]="46"
                styleClass="p-datatable-sm" >
                <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                    <tr [pSelectableRow]="item">
                        <td>{{ rowIndex+1 }}</td>
                        <td  style="text-align: right;">#{{ item.racerNum }}</td>
                        <td>{{ item.racerFullName }}</td>
                        <td>{{ item.dtString }}</td>
                    </tr>
                </ng-template> 
            </p-table>    
        </ng-container>
    </p-tabPanel>
    <p-tabPanel header="Лучший круг">
        <ng-container *ngIf="results.bestFinish">
            <p-table 
                #table
                [value]="results.bestLap" 
                [scrollable]="true" scrollHeight="70vh" [virtualScroll]="true" [virtualScrollItemSize]="46"
                styleClass="p-datatable-sm" >
                <ng-template pTemplate="body" let-item  let-rowIndex="rowIndex">
                    <tr [pSelectableRow]="item">
                        <td>{{ rowIndex+1 }}</td>
                        <td style="text-align: right;">#{{ item.racerNum }}</td>
                        <td>{{ item.racerFullName }}</td>
                        <td>{{ item.dtString }}</td>
                    </tr>
                </ng-template> 
            </p-table>    
        </ng-container>
    </p-tabPanel>    
    <p-tabPanel header="Полные">
        <ng-container *ngIf="results.full">
            <div class="results-full">
                <table id="full-results-table">
                    <tr  class="racer-row">
                        <th>Место</th>
                        <th>№</th>
                        <th>Имя</th>
                        <th>Лучшее время</th>
                        <th *ngFor="let i of Arr(results.fullAttemptsCount).fill(1); index as j">Заезд {{j+1}}</th>
                    </tr>
                    <tr *ngFor="let racerItem of results.full" class="racer-row">
                        <td>{{racerItem.place}}</td>
                        <td>#{{racerItem.racerNum}}</td>
                        <td>{{racerItem.racerFullName}}</td>
                        <td>{{racerItem.bestTimeString}}</td>
                        <td *ngFor="let attempt of racerItem.attempts" class="grid">
                            <table>
                                <tr>
                                    <td [class]="attempt.isBestAtempt ? 'best-atempt' : ''">{{attempt.timeString}}</td>
                                    <td class="date">{{attempt.dateString}}</td>
                                </tr>
                                <tr *ngFor="let lap of attempt.laps">
                                    <td [class]="racerItem.bestLapId === lap.id ? 'best-lap' : ''">{{lap.timeString}}</td>
                                    <td class="date">{{lap.dateString}}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </ng-container>

        <!-- <p-button label="Generate test data" (click)="generateData()" ></p-button> -->
    </p-tabPanel>
</p-tabView>
