<div class="flex btn-bar">
    <p-button label="GetPorts" (click)="getPorts()" styleClass="p-button-secondary"></p-button>
    <p-button label="Request Port" (click)="requestPort()" styleClass="p-button-secondary"></p-button>
    <p-button label="Open Port" (click)="openPort()" styleClass="p-button-secondary"></p-button>
    <p-button label="Close Port" (click)="closePort()" styleClass="p-button-secondary"></p-button>
    <p-button label="Serial Service start" (click)="startService()" styleClass="p-button-secondary"></p-button>
    <p-button label="TimecontrolAPIService start" (click)="startAPIService()" styleClass="p-button-secondary"></p-button>
</div>

<pre class="serial-output" id="outputElem">{{output}}</pre>
<div class="flex btn-bar">
    <p-button label="Send" (click)="sendMessage()" styleClass="p-button-secondary"></p-button>
    <input type="text" pInputText [(ngModel)]="message" style="width: 80%" />
</div>