<div class="flex btn-bar">
    <p-button label="GetPorts" (click)="getPorts()" styleClass="p-button-secondary"></p-button>
    <p-button label="Request Port" (click)="requestPort()" styleClass="p-button-secondary"></p-button>
    <p-button label="Open Port" (click)="openPort()" styleClass="p-button-secondary"></p-button>
    <p-button label="Close Port" (click)="closePort()" styleClass="p-button-secondary"></p-button>
    <p-button label="Serial Service start" (click)="startService()" styleClass="p-button-secondary"></p-button>
    <p-button label="TimecontrolAPIService start" (click)="startAPIService()" styleClass="p-button-secondary"></p-button>
</div>

<div class="card">
    <p-tabView>
        <p-tabPanel header="Serial Service Log">
            <pre class="serial-output" id="outputElemLog">{{logItems$ | async}}</pre>
            <div class="flex btn-bar">
                <p-button label="Send as Text" (click)="sendTimecontrolAPIMessageAsText()" styleClass="p-button-secondary"></p-button>
                <p-button label="Send as Command" (click)="sendTimecontrolAPIMessageAsCommand()" styleClass="p-button-secondary"></p-button>
                <input type="text" [(ngModel)]="messageAPI" pInputText #mes style="width: 60%" />
            </div>
        </p-tabPanel>
        <p-tabPanel header="Serial output">
            <pre class="serial-output" id="outputElem">{{output}}</pre>
            <div class="flex btn-bar">
                <p-button label="Send as Text" (click)="sendMessage()" styleClass="p-button-secondary"></p-button>
                <input type="text" pInputText [(ngModel)]="message" style="width: 80%" />
            </div>
        </p-tabPanel>
    </p-tabView>
</div>


