<div>
    <ng-container *ngIf="configItem$ | async as config"   >
        <div *ngIf="config.data.timecontrol">Timecontrol device: 
            <p-dropdown 
                [options]="[{value: 'serialPort', label: 'Serial Port'},{value: 'timeControlMock', label: 'Mock: Timecontrol3 Emulator'}]" 
                [(ngModel)]="config.data.timecontrol.device" 
                (onChange)="saveConfig(config)"
                >
            </p-dropdown>
        </div>
    </ng-container>
</div>