<div class="with-menu-layout">
    <div>
        <admin-menu></admin-menu>
    </div>
    <div>
        <p-card [header]="header">
            <ng-container *ngComponentOutlet="currentComponent"></ng-container>
        </p-card>
    </div>
</div>

