<ng-container *ngIf="racers$ | async as racers">
    <p-table 
        #table
        [value]="racers" 
        [globalFilterFields]="['num','userFullName']"  selectionMode="single" [(selection)]="selectedRacer" (onRowSelect)="selectRacer($event)"
        [scrollable]="true" scrollHeight="flex" [virtualScroll]="true" [virtualScrollItemSize]="46"
        styleClass="p-datatable-sm" >
        <ng-template pTemplate="caption">
            <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text"  (input)="table.filterGlobal($any($event.target).value, 'contains')" placeholder="Search keyword" />
            </span>
            <p-button label="Register Racer" (onClick)="openRegisterRacerForm()" class=" ml-auto" [style]="{'margin-left': '4px'}"></p-button>
        </ng-template>        
        <ng-template pTemplate="body" let-item >
            <tr [pSelectableRow]="item">
                <td>{{ item.num }}</td>
                <td>{{ item.userFullName }}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">No items found.</td>
            </tr>
        </ng-template>        
    </p-table>    
</ng-container>
