<p-table 
    #table
    [value]="items" 
    [paginator]="true"
    [rows]="20"     
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[20, 50, 100, 500, 1000]"      
    [globalFilterFields]="['num','userFullName']"  selectionMode="single"  [(selection)]="selectedItem" (onRowSelect)="openIOLogSidebar()" (onRowUnselect)="closeIOLogSidebar()"
    styleClass="p-datatable-sm" >
    <ng-template pTemplate="caption">
        <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search"></i>
            <input pInputText type="text"  (input)="table.filterGlobal($any($event.target).value, 'contains')" placeholder="Search keyword" />
        </span>
    </ng-template>        
    <ng-template pTemplate="body" let-item >
        <tr [pSelectableRow]="item">
            <td width="30px">{{ item.id }}</td>
            <td width="30px"><i class="pi pi-circle-fill logingIcon" [ngClass]="{on: item.logingOn}" ></i></td>
            <td>{{ item.name }}</td>
            <td width="100px">{{ driverConnectionStateNames[item.connectionState]}}</td>
            <td style="width: 10px; padding: 0;" [ngStyle]="{'background-color': item.connectionState === 3 ? 'MediumSeaGreen' : 'grey'}"></td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="5">No items found.</td>
        </tr>
    </ng-template>        
</p-table> 

<p-sidebar [visible]="ioVisible" position="right" [modal]="false" (onHide)="closeIOLogSidebar()" styleClass="p-sidebar-lg">
    <ng-template pTemplate="header">Driver IO</ng-template>
    <ng-template pTemplate="content">
        <div class="flex-row flex-start">
            <p-inputSwitch [(ngModel)]="selectedItem.logingOn"></p-inputSwitch>
            <div class="mr-6">Loging</div>
            <p-selectButton [options]="directionOptions" [(ngModel)]="sendDirection" optionLabel="label" optionValue="value" ></p-selectButton>
            <input type="text" [(ngModel)]="valueToSend" pInputText style="width: 60%" />
            <p-button label="Send" (click)="sendValue(valueToSend)" styleClass="p-button-secondary" [style]="{'margin-left': '8px'}" ></p-button>
        </div>
        <p-table 
        #table
        [value]="ioLogItems" 
        [paginator]="true"
        [rows]="20"     
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[20, 40, 100, 500, 1000]"      
        styleClass="p-datatable-sm" >
        <ng-template pTemplate="body" let-item >
            <tr [pSelectableRow]="item">
                <td style="width: 30px;"  [ngStyle]="{'background-color': item.direction === DriverValueDirection.Output ? '#1e90ff36' : '#ff8c0030'}">
                    <i [class]="item.direction === DriverValueDirection.Output ? 'pi pi-angle-double-right' : 'pi  pi-angle-double-left'" ></i>
                </td>
                <td style="width: 80px;">{{ dateString(item.t) }}</td>
                <td>{{ item.data }}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">No items found.</td>
            </tr>
        </ng-template>        
    </p-table>         
    </ng-template>
</p-sidebar>
