
<form class="input-block" [formGroup]="registerRacerForm">
    <label>Номер*</label>
    <input type="number" min="0" step="1" pInputText formControlName="num"  />
    <label>Имя*</label>
    <input type="text" pInputText formControlName="firstName" />
    <label>Фамилия*</label>
    <input type="text" pInputText formControlName="secondName" />
    <label>Отчество</label>
    <input type="text" pInputText formControlName="thirdName" />
    <div class="flex btn-bar mt-3" >
        <p-button 
            label="Зарегистрировать" 
            (onClick)="registerNewRacer()" 
            styleClass="p-button-success" 
            [disabled]="!registerRacerForm.valid"
        ></p-button>
        <p-button label="Отмена" (onClick)="close()" styleClass="p-button-secondary"></p-button>
    </div>
    <div *ngIf="numErrors?.['racerNumExists']" class="form-error mt-3">{{numErrors?.['racerNumExists']}}</div>
</form>
