<!-- <p-card header="Home">
    <p class="m-0">
        <p-table [value]="products" styleClass="p-datatable-sm" >
        <ng-template pTemplate="header">
            <tr>
                <th width="30px">#</th>
                <th>Code</th>
                <th>Name</th>
                <th>Category</th>
                <th>Quantity</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.code }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.quantity }}</td>
            </tr>
        </ng-template>
        </p-table>
    </p>
</p-card> -->