@import "primeicons/primeicons.css";

html {
    /* font-size: 16px; */
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    height: 100vh;
    background: var(--surface-card);
}
.card {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem
}

app-root {
    display: block;
    height: 100vh;
}

app-layout {
    display: block;
    height: 100vh;
}

.input-block {
    flex-direction: column;
    display: flex;
    margin-bottom: 8px;
}

.form-error {
    color: var(--pink-300);
    border: 1px solid var(--pink-200);
    border-radius: 4px;
    padding: 8px;
    text-align: center;
}

.with-menu-layout {
    display: grid;
    grid-template-columns: 210px auto ;    
}

.btn-bar p-button{
    margin-right: 4px;
}

.flex-row{
    display: flex;
    margin-bottom: 8px;
    justify-content: space-between;
    align-items: center;
}
.flex-row > *{
    margin-right: 4px;
}

.flex-row .align-left > *{
    text-align: left;
}

.flex-grow-1 {
    flex-grow: 1;
}
.flex-grow-2 {
    flex-grow: 2;
}
.flex-grow-3 {
    flex-grow: 3;
}
.flex-grow-4 {
    flex-grow: 4;
}
.flex-start {
    justify-content: flex-start;
}
.flex-center {
    justify-content: center;
}

.pointer {
    cursor: pointer;
}

.text-right{
    text-align: right !important;
}























.m-0 {
    margin: 0rem!important
}

.m-1 {
    margin: .25rem!important
}

.m-2 {
    margin: .5rem!important
}

.m-3 {
    margin: 1rem!important
}

.m-4 {
    margin: 1.5rem!important
}

.m-5 {
    margin: 2rem!important
}

.m-6 {
    margin: 3rem!important
}

.m-7 {
    margin: 4rem!important
}

.m-8 {
    margin: 5rem!important
}

.-m-1 {
    margin: -.25rem!important
}

.-m-2 {
    margin: -.5rem!important
}

.-m-3 {
    margin: -1rem!important
}

.-m-4 {
    margin: -1.5rem!important
}

.-m-5 {
    margin: -2rem!important
}

.-m-6 {
    margin: -3rem!important
}

.-m-7 {
    margin: -4rem!important
}

.-m-8 {
    margin: -5rem!important
}

.m-auto {
    margin: auto!important
}

.mt-0 {
    margin-top: 0rem!important
}

.mt-1 {
    margin-top: .25rem!important
}

.mt-2 {
    margin-top: .5rem!important
}

.mt-3 {
    margin-top: 1rem!important
}

.mt-4 {
    margin-top: 1.5rem!important
}

.mt-5 {
    margin-top: 2rem!important
}

.mt-6 {
    margin-top: 3rem!important
}

.mt-7 {
    margin-top: 4rem!important
}

.mt-8 {
    margin-top: 5rem!important
}

.-mt-1 {
    margin-top: -.25rem!important
}

.-mt-2 {
    margin-top: -.5rem!important
}

.-mt-3 {
    margin-top: -1rem!important
}

.-mt-4 {
    margin-top: -1.5rem!important
}

.-mt-5 {
    margin-top: -2rem!important
}

.-mt-6 {
    margin-top: -3rem!important
}

.-mt-7 {
    margin-top: -4rem!important
}

.-mt-8 {
    margin-top: -5rem!important
}

.mt-auto {
    margin-top: auto!important
}

.mr-0 {
    margin-right: 0rem!important
}

.mr-1 {
    margin-right: .25rem!important
}

.mr-2 {
    margin-right: .5rem!important
}

.mr-3 {
    margin-right: 1rem!important
}

.mr-4 {
    margin-right: 1.5rem!important
}

.mr-5 {
    margin-right: 2rem!important
}

.mr-6 {
    margin-right: 3rem!important
}

.mr-7 {
    margin-right: 4rem!important
}

.mr-8 {
    margin-right: 5rem!important
}

.-mr-1 {
    margin-right: -.25rem!important
}

.-mr-2 {
    margin-right: -.5rem!important
}

.-mr-3 {
    margin-right: -1rem!important
}

.-mr-4 {
    margin-right: -1.5rem!important
}

.-mr-5 {
    margin-right: -2rem!important
}

.-mr-6 {
    margin-right: -3rem!important
}

.-mr-7 {
    margin-right: -4rem!important
}

.-mr-8 {
    margin-right: -5rem!important
}

.mr-auto {
    margin-right: auto!important
}

.ml-0 {
    margin-left: 0rem!important
}

.ml-1 {
    margin-left: .25rem!important
}

.ml-2 {
    margin-left: .5rem!important
}

.ml-3 {
    margin-left: 1rem!important
}

.ml-4 {
    margin-left: 1.5rem!important
}

.ml-5 {
    margin-left: 2rem!important
}

.ml-6 {
    margin-left: 3rem!important
}

.ml-7 {
    margin-left: 4rem!important
}

.ml-8 {
    margin-left: 5rem!important
}

.-ml-1 {
    margin-left: -.25rem!important
}

.-ml-2 {
    margin-left: -.5rem!important
}

.-ml-3 {
    margin-left: -1rem!important
}

.-ml-4 {
    margin-left: -1.5rem!important
}

.-ml-5 {
    margin-left: -2rem!important
}

.-ml-6 {
    margin-left: -3rem!important
}

.-ml-7 {
    margin-left: -4rem!important
}

.-ml-8 {
    margin-left: -5rem!important
}

.ml-auto {
    margin-left: auto!important
}

.mb-0 {
    margin-bottom: 0rem!important
}

.mb-1 {
    margin-bottom: .25rem!important
}

.mb-2 {
    margin-bottom: .5rem!important
}

.mb-3 {
    margin-bottom: 1rem!important
}

.mb-4 {
    margin-bottom: 1.5rem!important
}

.mb-5 {
    margin-bottom: 2rem!important
}

.mb-6 {
    margin-bottom: 3rem!important
}

.mb-7 {
    margin-bottom: 4rem!important
}

.mb-8 {
    margin-bottom: 5rem!important
}

.-mb-1 {
    margin-bottom: -.25rem!important
}

.-mb-2 {
    margin-bottom: -.5rem!important
}

.-mb-3 {
    margin-bottom: -1rem!important
}

.-mb-4 {
    margin-bottom: -1.5rem!important
}

.-mb-5 {
    margin-bottom: -2rem!important
}

.-mb-6 {
    margin-bottom: -3rem!important
}

.-mb-7 {
    margin-bottom: -4rem!important
}

.-mb-8 {
    margin-bottom: -5rem!important
}

.mb-auto {
    margin-bottom: auto!important
}

.mx-0 {
    margin-left: 0rem!important;
    margin-right: 0rem!important
}

.mx-1 {
    margin-left: .25rem!important;
    margin-right: .25rem!important
}

.mx-2 {
    margin-left: .5rem!important;
    margin-right: .5rem!important
}

.mx-3 {
    margin-left: 1rem!important;
    margin-right: 1rem!important
}

.mx-4 {
    margin-left: 1.5rem!important;
    margin-right: 1.5rem!important
}

.mx-5 {
    margin-left: 2rem!important;
    margin-right: 2rem!important
}

.mx-6 {
    margin-left: 3rem!important;
    margin-right: 3rem!important
}

.mx-7 {
    margin-left: 4rem!important;
    margin-right: 4rem!important
}

.mx-8 {
    margin-left: 5rem!important;
    margin-right: 5rem!important
}

.-mx-1 {
    margin-left: -.25rem!important;
    margin-right: -.25rem!important
}

.-mx-2 {
    margin-left: -.5rem!important;
    margin-right: -.5rem!important
}

.-mx-3 {
    margin-left: -1rem!important;
    margin-right: -1rem!important
}

.-mx-4 {
    margin-left: -1.5rem!important;
    margin-right: -1.5rem!important
}

.-mx-5 {
    margin-left: -2rem!important;
    margin-right: -2rem!important
}

.-mx-6 {
    margin-left: -3rem!important;
    margin-right: -3rem!important
}

.-mx-7 {
    margin-left: -4rem!important;
    margin-right: -4rem!important
}

.-mx-8 {
    margin-left: -5rem!important;
    margin-right: -5rem!important
}

.mx-auto {
    margin-left: auto!important;
    margin-right: auto!important
}

.my-0 {
    margin-top: 0rem!important;
    margin-bottom: 0rem!important
}

.my-1 {
    margin-top: .25rem!important;
    margin-bottom: .25rem!important
}

.my-2 {
    margin-top: .5rem!important;
    margin-bottom: .5rem!important
}

.my-3 {
    margin-top: 1rem!important;
    margin-bottom: 1rem!important
}

.my-4 {
    margin-top: 1.5rem!important;
    margin-bottom: 1.5rem!important
}

.my-5 {
    margin-top: 2rem!important;
    margin-bottom: 2rem!important
}

.my-6 {
    margin-top: 3rem!important;
    margin-bottom: 3rem!important
}

.my-7 {
    margin-top: 4rem!important;
    margin-bottom: 4rem!important
}

.my-8 {
    margin-top: 5rem!important;
    margin-bottom: 5rem!important
}

.-my-1 {
    margin-top: -.25rem!important;
    margin-bottom: -.25rem!important
}

.-my-2 {
    margin-top: -.5rem!important;
    margin-bottom: -.5rem!important
}

.-my-3 {
    margin-top: -1rem!important;
    margin-bottom: -1rem!important
}

.-my-4 {
    margin-top: -1.5rem!important;
    margin-bottom: -1.5rem!important
}

.-my-5 {
    margin-top: -2rem!important;
    margin-bottom: -2rem!important
}

.-my-6 {
    margin-top: -3rem!important;
    margin-bottom: -3rem!important
}

.-my-7 {
    margin-top: -4rem!important;
    margin-bottom: -4rem!important
}

.-my-8 {
    margin-top: -5rem!important;
    margin-bottom: -5rem!important
}

.my-auto {
    margin-top: auto!important;
    margin-bottom: auto!important
}